<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <img src="/pay/code_url">
</body>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script>
    //连接端点
    var socket = new SockJS("/notify-websocket");
    //stomp包装
    stompClient = Stomp.over(socket);
    stompClient.connect({}, function (frame) {
        stompClient.subscribe('/topic/pay', function (result) {
            alert(result.body == 1 ? "支付成功" : "支付失败");
        });
    });
</script>
</html>